PROJECT_NAME=project

# Django
DEBUG=True
SECRET_KEY=mysecret
DOMAIN_URL=http://localhost:8000
ALLOWED_HOSTS=localhost,django
STATIC_ROOT=static
STATIC_URL=/static/
MEDIA_ROOT=media
MEDIA_URL=/media/

# Redis
REDIS_URI="redis://:@redis:6379"
REDIS_PORT=6379
