# Django
django==6.0
django-extensions==3.2.3
django-liveview==2.1.9

# Databases
redis==5.2.0

# Django Server
daphne==4.2.0

# Django Channels
channels==4.2.0

# Redis Layer
channels_redis==4.2.1

# Templates
## Image processing
Pillow==11.0.0

# Testing
pytest==8.3.4
pytest-django==4.9.0
