{% load static %}

<div class="home" data-controller="home">
    <h1 class="title">LiveSnake</h1>
    <section id="canvas" class="canvas"></section>
    <section class="pad">
	<button class="pad__button pad__up"
		data-liveview-function="key_up"
		data-action="click->page#run">☝️</button>
	<button class="pad__button pad__right"
		data-liveview-function="key_right"
		data-action="click->page#run">👉</button>
	<button class="pad__button pad__down"
		data-liveview-function="key_down"
		data-action="click->page#run">👇</button>
	<button class="pad__button pad__left"
		data-liveview-function="key_left"
		data-action="click->page#run">👈</button>
	<div style="display:none"
	     data-liveview-function="key_up"
	     data-action="keydown.w@window->page#run"></div>
    </section>
    <script>
     // Disable pad if param "guess=1" exist
     const url = new URL(window.location.href);
     if (url.searchParams.has("guess")) {
	 document.querySelector(".pad").style.display = "none";
     }
    </script>
</div>
