{% load static %}

<div class="home" data-liveview-init="init">
    <h1 class="title">LiveSnake</h1>
    <section id="canvas" class="canvas"></section>
    <section class="pad"
	     data-liveview-keyboard-map='{"w":"key_up","a":"key_left","s":"key_down","d":"key_right"}'
	     data-liveview-focus="true"
    >
	<button class="pad__button pad__up"
		data-liveview-function="key_up"
		data-action="click->page#run">☝️</button>
	<button class="pad__button pad__right"
		data-liveview-function="key_right"
		data-action="click->page#run">👉</button>
	<button class="pad__button pad__down"
		data-liveview-function="key_down"
		data-action="click->page#run">👇</button>
	<button class="pad__button pad__left"
		data-liveview-function="key_left"
		data-action="click->page#run">👈</button>
    </section>
    <footer class="footer">
	<p>
	    Built with <a href="https://django-liveview.andros.dev/" target="_blank" rel="noopener">Django LiveView</a>
	    <span class="footer__separator">|</span>
	    <a href="https://github.com/Django-LiveView/demo-snake" target="_blank" rel="noopener">Source Code</a>
	</p>
    </footer>
</div>
