:root {
    --color-background: #8896ab;
    --color-canvas-background: #95C000;
    --color-player-1: #333333;
    --color-head: #686963;
    --color-target: #DE0613;
    --color-background-button: #DEFFFC;
    --color-background-button-hover: #B2F7EF;
}

/*
   400 cells, 20x20
   .canvas__cell : empty cell, required
   Modifiers:
   .canvas__floor : floor cell
   .canvas__cell--target : target cell
   .canvas__cell--player-1 : player 1 cell
   .canvas__cell--head : player 1 head cell
*/

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--color-background);
}

.container {
    margin-inline: auto;
    max-width: 500px;
    padding-inline: 1rem;
}

.home {
    height: calc(100vh - 2rem);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 2fr;
    grid-gap: 1rem;
    padding-block: 1rem;
}

.title {
    color: var(--color-background-button);
    margin: 0;
    text-align: center;
}

.canvas {
    background-color: var(--color-canvas-background);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 100%;
    margin-inline: auto;
    aspect-ratio: 1;
}

@media all and (max-width: 600px) {
    .canvas {
	height: auto;
	width: 100%;
    }
}

.canvas__cell {
    aspect-ratio: 1;
    box-shadow: inset 0 0 0 2px var(--color-canvas-background);
    border: 2px solid var(--color-canvas-background);
}

.canvas__cell--target {
    background-color: var(--color-target);
    border-color: var(--color-target);
}

.canvas__cell--player-1 {
    background-color: var(--color-player-1);
    border-color: var(--color-player-1);
}

.canvas__cell--head {
    background-color: var(--color-head);
    border-color: var(--color-head);
}

.pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
	"corner-left-up up corner-right-up"
	"left center right"
	"corner-left-down down corner-right-down";
    width: 8rem;
    aspect-ratio: 1;
    margin: 0 auto;

}

.pad__button {
    background-color: var(--color-background-button);
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
}

.pad__button:hover {
    background-color: var(--color-background-button-hover);
}

.pad__up {
    grid-area: up;
}

.pad__left {
    grid-area: left;
}

.pad__down {
    grid-area: down;
}

.pad__right {
    grid-area: right;
}
